<% provide(:title, "Help")%>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railtutorial.org/help">Rails Tutorial help page</a>.
  To get help on this simple app, see the
  <a href="http:/www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
</p>
